.header {
    background-color: yellow;
    height: 50px;
}

.footer {
    clear: both;
    background-color: green;
    height: 50px;
}

.content {
    width: 80%;
    background-color: pink;
    float: left;
    height: 500px;
}

.sidebar {
    width: 20%;
    background-color: gray;
    float: left;
    height: 500px;
}