* {
    box-sizing: border-box;
}

.header,
.nav-list {
    height: 40px;
}

.header {
    background-color: darkturquoise;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.nav-list {
    margin: 0;
    line-height: 40px;
}

.nav-item {
    display: inline;
    margin-left: 16px;
    color: white;
    /* 
    list-style: none; */
}

.content {
    background-color: beige;
    height: 5000px;
}

.head {
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
}

.ear {
    width: 40px;
    height: 60px;
    background-color: brown;
}

.ear_right {
    float: right;
    position: relative;
    bottom: 60px;
    left: 40px;
}

.ear_left {
    float: left;
    position: relative;
    bottom: 60px;
    right: 40px;
}

.eye {
    width: 30px;
    height: 30px;
    background-color: gray;
    border-radius: 50%;
    margin-top: 80px;
}

.eye_right {
    float: right;
}

.eye_left {
    float: left;
}